@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #050f0e;
    --foreground: #71ffbb;
    --foreground-dim: #71ffba86;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--tomorrow), monospace;
}

.title-block::before,
.title-block::after {
  content: "==================================================================================================";
  display: block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  font-family: var(--tomorrow), monospace;
  line-height: 1;
  font-variant-ligatures: none;
}

.list-custom-dash {
  list-style: none;
  padding-left: 1.25rem;
}

.list-custom-dash li {
  position: relative;
}

.list-custom-dash li::before {
  content: "- ";
  position: absolute;
  left: -1.25rem;
}

.plaintext-underline::after {
  content: "--------------------------------------------------------------------------------";
  display: block;
  overflow: hidden;
  white-space: nowrap;
  font-family: var(--tomorrow), monospace;
  line-height: 1;
  font-variant-ligatures: none;
}

.disable-ligatures {
    font-variant-ligatures: none;
}